<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB6gYSnEr-y79nzbILbQSR24_B-G71mgfo</string>
	<key>GCM_SENDER_ID</key>
	<string>190605335530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>grandmaproject-bdb29</string>
	<key>STORAGE_BUCKET</key>
	<string>grandmaproject-bdb29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190605335530:ios:bb02787041ee1fd7f37093</string>
</dict>
</plist>